.log-pan{
    background: #fAA118;
    color: white;
    box-shadow: 0px 0px 8px #a5a5a5;
}
.row{
    height: 100vh;
    width: 100%;
    position: relative;
    min-height: 400px;
}
.card-login{
    position: relative;
    top: calc(50% - 245px);
    bottom: 0; 
    left: 0;
    right: 0;
    margin: auto;
    min-width: 200px;
    padding-bottom: 50px;
    z-index: 0;
}
input{
    max-width: 270px;
    
}
#inputEmail,#inputPassword{
    background-color:#fff3d2;
    border-radius: 3px;
    border: 1px solid #fff3d2;
    margin-left: auto;
    margin-right: auto;
    color: #494949;    
}

#inputPassword{
    margin-bottom: 50px;
}

#inputPassword::placeholder, #inputEmail::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d6d5d4; 
    opacity: 1; /* Firefox */
}

.input-group{
    padding-top: 50px;
}


form{
    background: #ffffff;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 7px #a5a5a5;
}
.btn-primary:hover {
    color: #fff;
    background-color: #fdaf18;
    border-color: #ffe3ac
}
.btn-primary {
    color: #fff;
    background-color: #fdaf18;
    border-color: white;
    border-radius: 30px;
    width:100px !important;
    margin: 0 auto;
}

img{
    width: 80%;
}
