.log-pan{
    background: #fAA118;
    color: white;
    box-shadow: 0px 0px 8px #a5a5a5;
    min-height: 450px;
    min-block-size: 50vw;
    height: 100%;
    width: 100%;
}
.img-responsive{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.logo-screen{
    text-align: center;
    min-block-size: 50vw;
    padding: 2px;
}
.row{
    height: 100vh;
    width: 100%;
    position: relative;
    min-height: 400px;
    max-width: 100%;
}
.card-login{
    min-width: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
input{
    max-width: 270px;
    
}
#inputEmail,#inputPassword{
    background-color:#fff3d2;
    border-radius: 3px;
    border: 1px solid #fff3d2;
    margin-left: auto;
    margin-right: auto;
    color: #494949;  
    margin-top: -30px;  
}

#inputPassword{
    margin-bottom: 50px;
    margin-top: 30px; 
}

#inputPassword::placeholder, #inputEmail::placeholder { 
    color: #d6d5d4; 
    opacity: 1;
}


form{
    background: #ffffff;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 7px #a5a5a5;
}
.btn-primary:hover {
    color: #fff;
    background-color: #fdaf18;
    border-color: #ffe3ac
}
.btn-primary {
    color: #fff;
    background-color: #fdaf18;
    border-color: white;
    border-radius: 30px;
    width:100px !important;
    margin: 0 auto;
}

img{
    width: 80%;
}
